/* Shared Styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  max-width: 100%;
  background-color: #f5f8ff;
}
body .container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.btn {
  text-align: center;
  background-color: #e95a08;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

/***** font styles *****/
.inter {
  font-family: "Inter", sans-serif;
}
.noto-serif {
  font-family: "Noto Serif", serif;
}

/***** header styles *****/

/***** nav styles *****/

.nav-left ul li {
  list-style: none;
}
.nav-left ul li a {
  text-decoration: none;
}
.navbar {
  max-width: 1140px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-left ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}
.home {
  font-weight: 700;
  color: #252432;
}
.cart {
  color: #000000;
}
.shop,
.about {
  color: #8987a1;
}
.icon-container {
  width: 1.5rem;
  height: 1.5rem;
}
.cart-card {
  display: flex;
  gap: 0.625rem;
}

/* banner styles */

.banner {
  max-width: 1140px;
  height: 460px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 100px 0 0 0;
}
.banner-left {
  width: 570px;
  height: auto;
}
.banner-left > h2 {
  font-size: 4.0625rem;
  font-weight: 700;
  line-height: 5.5rem;
  margin-top: 50px;
}
.banner-left > h4 {
  width: 570px;
  padding-top: 25px;
  font-size: 1.375rem;
  font-weight: 400;
  color: #00000080;
}
.banner-right {
  width: 570px;
  height: auto;
}
.banner-right img {
  display: block;
  width: 570px;
  height: 22.1875rem;
  align-content: end;
}
.orange {
  color: #e95a08;
}
.black {
  color: #000000;
}

/* Plants section */

.plant {
}
.plant-top {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 100px;
}
.plant-top > h3 {
  font-size: 50px;
  font-weight: 700;
}
.plant-top > h4 {
  width: 70%;
  font-size: 22px;
  font-weight: 400;
  margin: 0 auto;
  padding-top: 20px;
  color: #00000080;
}
.plant-card {
  width: 270px;
  height: 485px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: -20px;
  margin-top: -20px;
}
.plant-card .name {
  font-size: 22px;
  font-weight: 500;
}
.plant-card .price {
  font-size: 22px;
  font-weight: 700;
}

.plant-card-btn {
  font-size: 16px;
  font-weight: 600;
  width: 270px;
  height: 50px;
}

.plant-bottom {
  width: 1140px;
  height: auto;
  margin: 0 auto 150px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
  margin-top: -40px;
}

/* plant lover styles */

.plant-lover {
  display: flex;
  justify-content: space-between;
}
.plant-lover {
  width: 1140px;
  height: 600px;
  margin: 200px auto;
}
.plant-lover-left,
.plant-lover-right {
  width: 50%;
}
.plant-lover-right {
  padding-left: 50px;
}
.plant-lover-right .title {
  font-size: 50px;
  font-weight: 700;
  padding-bottom: 40px;
  padding-top: 40px;
}
.plant-lover-right .description ul li {
  width: 480px;
  font-size: 22px;
  font-weight: 400;
  color: #00000080;
}
.plant-lover-right .description {
  margin-top: -20px;
}
.plant-lover-left .primary {
  position: relative;
}
.plant-lover-left .secondary {
  position: relative;
  top: -740px;
  left: 360px;
}
.plant-lover-left .secondary img {
  width: 300px;
  height: 300px;
}

/* latest deal styles */

.deal-top {
  width: 1140px;
  margin: 0 auto;
  text-align: center;
}
.deal-top h3 {
  font-size: 50px;
  font-weight: 700;
}
.deal-top h5 {
  margin: 20px auto;
  width: 850px;
  font-size: 22px;
  font-weight: 400;
  color: #00000080;
}
.deal-bottom {
  width: 1140px;
  height: 427px;
  margin: 80px auto 80px auto;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 10px;
}
.deal-bottom-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
}
.deal-bottom-left .img-1 img {
  border-radius: 15px;
  filter: brightness(50%);
}
.deal-bottom-left .img-2 img {
  border-radius: 15px;
  position: relative;
  transform: translate(0, -87px);
  filter: brightness(50%);
}
.deal-bottom-right .img-3 img {
  border-radius: 15px;
  position: relative;
  transform: translate(0, -1px);
  filter: brightness(50%);
}
.bloom-card {
  position: relative;
  /* top: 3240px;
  left: 300px; */
  transform: translate(80px, -160px);
  color: #ffffff;
  text-align: center;
}
.ana-card {
  position: relative;
  /* top: 3460px;
    left: 315px; */
  transform: translate(90px, -250px);
  color: #ffffff;
  text-align: center;
}
.zabo-card {
  position: relative;
  /* top: 3320px;
  left: 790px; */
  transform: translate(0px, -250px);
  color: #ffffff;
  text-align: center;
}
.bloom-card > .line-1,
.ana-card > .line-1 {
  font-size: 20px;
  font-weight: 700;
}
.bloom-card > .line-2,
.ana-card > .line-2 {
  font-size: 16px;
  font-weight: 600;
  padding-top: 20px;
}
.zabo-card > .line-1 {
  font-size: 40px;
  font-weight: 700;
}
.zabo-card > .line-2 {
  font-size: 28px;
  font-weight: 600;
  padding-top: 10px;
}

/* newsletter styles */

.newsletter {
  width: 100vw;
  margin: 150px auto 0 auto;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-image: url(../assets/news-letter-bg.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  position: relative;
}
.newsbox {
  width: 80vw;
}
.newsletter .title {
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
}
.email-card {
  width: 700px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.email-card input[type="email"] {
  width: 660px;
  height: 50px;
  border: none;
  position: absolute;
  transform: translateX(-80px);
}
.email-card input::placeholder {
  padding-left: 30px;
  font-family: "Inter", sans-serif;
}
.click {
  font-weight: 600;
  width: 186px;
  height: 50px;
  border: none;
  position: relative;
  transform: translateX(328px);
}

/* responsive styles for mobile devices*/

@media screen and (max-width: 576px) {
  body {
    max-width: 100vw;
    margin: 0 auto;
  }
  main {
    max-width: 360px;
    margin: 0 auto;
  }

  /* navbar */
  .home,
  .shop,
  .about {
    display: none;
  }
  .navbar {
    max-width: 100%;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 30px;
  }
  .nav-right {
    margin-left: 20px;
  }
  .nav-right img {
    width: 100px;
    height: auto;
    position: absolute;
    transform: translateY(-40px);
  }
  .nav-left {
    margin-right: 20px;
  }
  .icon-container {
    width: 1.75rem;
    height: 1.75rem;
  }
  .cart-card {
    display: flex;
    gap: 0.3125rem;
  }
  .cart {
    font-size: 1.5rem;
  }
  /* banner */
  .banner {
    max-width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: -100px;
  }

  .banner-left {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .banner-left > h2 {
    font-size: 2.03125rem;
    font-weight: 700;
    line-height: 2.75rem;
    margin-top: 50px;
  }
  .banner-left > h4 {
    width: 100%;
    padding-top: 25px;
    padding-right: 10px;
    font-size: 1.25rem;
    font-weight: 400;
    color: #00000080;
  }
  .banner-right {
    width: 100%;
    height: 245px;
  }
  .banner-right img {
    width: 100%;
    height: fit-content;
  }
  /* plant */
  .plant {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .plant-top {
    width: 100%;
    text-align: center;
  }
  .plant-top > h3 {
    font-size: 40px;
    font-weight: 700;
  }
  .plant-top > h4 {
    width: 80%;
    font-size: 20px;
    font-weight: 400;
    margin: 0 auto;
    padding-top: 40px;
    color: #00000080;
  }
  .plant-bottom {
    width: 350px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0px;
    row-gap: 60px;
    padding-left: -15px;
    padding-right: -15px;
    position: relative;
    transform: translateX(10px);
  }
  .plant-card {
    width: 165px;
    height: auto;
  }
  .plant-card .name {
    font-size: 14px;
    font-weight: 500;
  }
  .plant-card .price {
    font-size: 14px;
    font-weight: 700;
  }
  .plant-card img {
    width: 165px;
    height: 160px;
  }
  .plant-card-btn {
    font-size: 14px;
    font-weight: 600;
    width: 165px;
    height: 30px;
  }

  /* plant lover styles */
  .plant-lover {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 300px;
    margin: 0 auto;
    /* border: 2px solid blue; */
  }
  .plant-lover-left .primary img {
    width: 340px;
    margin-left: -10px;
  }
  .plant-lover-left .secondary img {
    display: none;
  }
  .plant-lover-right {
    /* border: 1px solid red; */
    width: 340px;
    margin-top: -320px;
  }
  .plant-lover-right .title {
    width: 300px;
    font-size: 25px;
    margin-left: -55px;
  }

  .plant-lover-right .description ul li {
    width: 300px;
    font-size: 22px;
    font-weight: 400;
    color: #00000080;
    margin-left: 20px;
  }
  .plant-lover-right .description ul {
    margin-left: -65px;
    margin-bottom: 50px;
  }

  /* latest deals styles */

  .deal {
    width: 350px;
    margin: 450px 10px 100px 10px;
  }
  .deal-top {
    width: 350px;
    margin: 0 10px 0 -4px;
  }
  .deal-top > h5 {
    width: 100%;
    margin: 30px 0 -10px 0;
  }
  .deal-bottom {
    width: 350px;
    margin: 70px auto 180px -5px;
    height: 554px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .deal-bottom-left .img-1 img {
    width: 347px;
    height: 170px;
  }
  .deal-bottom-left .img-2 img {
    position: relative;
    transform: translate(0, -78px);
    width: 347px;
    height: 170px;
  }
  .deal-bottom-right .img-3 img {
    position: relative;
    transform: translate(0, -150px);
    width: 347px;
    height: 170px;
  }
  .bloom-card {
    position: relative;
    /* top: 3685px;
    left: 85px; */
    transform: translate(70px, -140px);
  }
  .ana-card {
    position: relative;
    /* top: 3875px;
    left: 100px; */
    transform: translate(85px, -210px);
  }
  .zabo-card {
    position: relative;
    /* top: 4060px;
    left: 94px; */
    transform: translate(5px, -270px);
  }
  .bloom-card > .line-2,
  .ana-card > .line-2 {
    padding-top: 10px;
  }
  .zabo-card > .line-1 {
    font-size: 20px;
  }
  .zabo-card > .line-2 {
    font-size: 16px;
    padding-top: 10px;
  }
  /* newsletter styles */

  .newsletter {
    width: 100vw;
    margin-top: -50px;
    background-size: 240% 275px;
    background-repeat: no-repeat;
    background-position: -260px 0;
    position: relative;
  }

  .newsletter .title {
    font-size: 22px;
    position: relative;
    transform: translateY(-100px);
  }
  .email-card {
    width: 100vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    transform: translateY(-100px);
  }
  .email-card input[type="email"] {
    width: 60vw;

    position: relative;
    transform: translateX(10px);
  }
  .email-card input::placeholder {
    padding-left: 15px;
    font-size: 17px;
  }
  .click {
    width: 30vw;
    font-size: 17px;
    position: relative;
    transform: translateX(-10px);
  }
}
